html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: rgba(250, 246, 211, 0.55);
}

/*----- Main Section: My Photo and About Me text ------*/
main {
  min-height: 500px;
  margin: 0 0 0 0;
  
}

.about-me {
 
  background-color: aqua;
 
}

.about-me-image {
 

 
  background-color: yellow;
}

.about-me-image > img{
  width: 400px;
}

.about-me-text {

 width: 50%;
  background-color: tomato;
}

/* .figure {
  width: 50%;
} */
