html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin: 0;
}

/* ------> Header  -----*/

header {
  background-color: black;
  height: 100px;
}

#icons {
  height: 40px;
  width: 40px;
  position: 0;
  margin: 5px;
}
